<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vkochenkov.imagesearch">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@drawable/app_picture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_picture"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageSearch">
        <service
            android:name=".presentation.service.WallpaperService"
            android:exported="false"/>
        <activity android:name=".presentation.activity.ImageActivity" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".presentation.receiver.WallpaperBroadcastReceiver"
            android:exported="false"/>
    </application>
</manifest>